<p id="notice"><%= notice %></p>

<h1>Listing Seller User Comments</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @seller_user_comments.each do |seller_user_comment| %>
      <tr>
        <td><%= link_to 'Show', seller_user_comment %></td>
        <td><%= link_to 'Edit', edit_seller_user_comment_path(seller_user_comment) %></td>
        <td><%= link_to 'Destroy', seller_user_comment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Seller user comment', new_seller_user_comment_path %>
